<!DOCTYPE html>
<html>
<head>
    <title>OtD: Contact</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
body {margin:0;}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.main {
  padding: 16px;
  margin-top: 30px;
}

</style>
</head>
<body>
<div class="navbar">
    <a href="/">Home</a>
    <a href="/trending.html">Trending Words</a>
    <a href="/text_analysis.html">Text Analysis</a>
    <a href="/contact.html">Contact</a>
    <a href="/about.html">About</a>
</div>
<div class="main">
    <p>Name: Kyung Song</p>
    <p>Email: uranos02+otd@gmail.com</p>
    Blog: <a href="https://www.kyungsong.com">kyungsong.com</a>
</div>
</body>
</html>